# Console Application URL
# Used for "Sign In" and "Start Free Trial" CTAs
CONSOLE_URL=https://console.kubeletto.com

# Site Configuration
PUBLIC_SITE_URL=https://kubeletto.com
PUBLIC_SITE_TITLE=Kubeletto
PUBLIC_SITE_DESCRIPTION=Deploy anywhere. Focus on code. Kubeletto handles Kubernetes complexity so you don't have to.
